<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<div class="container text-center">
<h1>Генератор пароля</h1>
<form action="{% url 'password' %}">
    Длина пароля <select name="length">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12" selected="selected">12</option>
        <option value="13">13</option>
        <option value="14">14 </option>
    </select>
    <br>
    <input type="checkbox" name="uppercase"> Верхний регистр
    <br>
    <input type="checkbox" name="number"> Цифры
    <br>
    <input type="checkbox" name="special"> Специальные символы
    <br>
    <input type="submit" value="Сгенерировать пароль" class="btn btn-primary">
</form>
<a href="{% url 'description' %}" class="btn btn-warning">Описание сайта</a>
    </div>